/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/***** BASE STYLES *****/

html {
	font-size: 16px;
}

body {
	font-size: 1em;
	color: #373737;
}

.container {
    width: 90%;
	margin: 50px 0;
  
}

h1 {
	font-family: 'Abril Fatface', cursive;
}

h3 {
	font-family: 'Oswald', sans-serif;
	color:#08A6A6;
}

.contact h2, 
.work h2,
.about h2 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5em;
	text-align: center;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
}

figure, 
img {
	margin: 0;
}

img { 
	width: 100%;
}

a { 
	text-decoration: none;
 }

/*--- all video embeds ---*/

.video-wrapper {
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row wrap;
}

.video-wrapper iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* --- header styling on all pages ---*/

header {
    display: flex;
    justify-content: center;
    align-content: center;
	align-items: center;
    flex-flow: row wrap;

	
}

header h1 {
	text-align: center;
	border-bottom: 2px solid #F21DB9;
	font-size: 4em;
	
}

header h1 span {
	color:#08A6A6;
}

header figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	
}



nav {
	width: 100%;
	padding: 20px 0;
  
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	font-family: 'Abril Fatface', cursive;
	border: none;
	padding: 15px 0;
	list-style: none;
	text-transform: lowercase;
	font-size: 1.2em;
	margin:0;
	text-align: center;
}

nav ul li:hover {
	background: #F21DB9;
	font-size: 2em;
	font-family: 'Oswald';
}

nav ul li img {
	padding-right: 6px;
	opacity: .4;
	width: 5%;
}

nav ul li a {
	color: #F272A1;
}


/*-------------MAIN SECTION-----------*/


#main {
    display: flex;
    justify-content: center;
	align-content: center;
    align-items: center;
}

#main h2 {
	color: #F272A1;
	font-size: 2.3em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -3px;
	border: 2.5px dotted #F21DB9;
	padding:20px;
    display: flex;
    justify-content: center;
	align-content: center;
    align-items: center;
	text-align: center;
	flex-flow:row wrap;

}

#main span {
	color: #F21DB9;
	font-size: 1.2em;
}

/******CONTACT******/

.contact {
	display: flex;
	justify-content: center;
	text-align: center;
  	flex-flow: row wrap;
	
}

.contact p {
	margin: 1em;
}


.contact h2 {
    display: flex;
    justify-content: center;
	width: 100%;
}


.form {
	margin-bottom: 2em;
}

.contact .form-title {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	color: #F21DB9;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	
}

.contact .contact-form {
    display: flex;
    justify-content: center;
	flex-flow: row wrap;
	width: 60%;
	margin: 0 15%;
    border-radius: 5px;
    background-color: #f2f2f2;
	font-family: 'Oswald';
	padding: 20px;
	border: 2px solid black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid black; /* teal border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #F21DB9; /* hot pink background */
  color:  white; /* white text */
  padding: 12px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  opacity: .3; /* opaque background */
}


/****Social Media Links***/


.contact-items {
	width: 100%;
}


.contact .contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #F21DB9;
	text-transform: uppercase;
}


.contact a img:hover{
	opacity:.2;
}

.contact figure {
	padding-bottom: 10%;
}

.contact figure .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact img {
	width: 10%;
}

/******WORK******/

.work {
	display: flex;
	justify-content: center;
}
.work-content {
    display: flex;
   flex-flow: row wrap;
 
 
}

.work figure {
	display: flex;
	margin-bottom: 40px;
	flex-flow: row wrap;
	
}


.work-text {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-bottom: 40px;

}


.work p {
	text-align: center;
}


/*******ABOUT******/


.about {
	background-color:#08A6A6;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-flow: row wrap;

}

.about figure {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
	padding-bottom: 40px;
	margin: 0 5%;
	
}

.about img {
	border: 1.5px solid white;
	
}

.about-content {
  display: flex;
  justify-content:center;
  flex-flow: row wrap;
 
}


.about p {
	padding: 0 5%;
}

.about p span {
	color: white;
}



/*-------BACK TO TOP LINK//*-------FOOTER------*/

footer {
	color: #F272A1;
	
    display: flex;
    justify-content: center;
	align-items: center;
	margin-top: 20px;
}



.footer-content {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
	border-top: 2px solid #F21DB9;
}

footer h3 {
	font-size: 1.5em;
}

footer a {
	color:  #F21DB9;
	text-transform: uppercase;
}

footer a:hover {
	opacity: .3;
}

.footer-content p {
	font-size: .8em;
	text-transform: uppercase;
}


/******REEL/RESUME PAGE******/



.resume-reel-content {
    display: flex;
    justify-content: center;
	align-content: center;
	align-items: center;
    flex-flow: row wrap;
	text-align: center;
	margin-bottom: 20px;
}

.resume h3 {
	padding: 0;
	margin: 0;
	padding-bottom: 42%;

}

.reel,
.resume {
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}


.resume-reel-content .resume-icon-page {
	width: 7%;
	padding-bottom: 4%;
}

.resume-reel-content a {
	color: #F21DB9;
	font-family: 'Abril Fatface';
	font-size: 1.3em;
	width: 100%;
	padding-bottom: 20%;
}

.resume-reel-content a:hover {
	opacity: .6;
	font-size: 1.5em;
	text-decoration: underline;
}

/******PROJECTS/VIDEO PAGE*****/

.projects {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-flow: row wrap;
	text-align: center;


}


//*** Headshots/gallery page ****//

.pic-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

.pic-container img {
  height: auto;
  margin-bottom: 15px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}





/*---------- TABLET ----------*/


@media (min-width: 768px) {
	
	
    header h1 {
  	  font-size: 3.7em;
  	 
    }
  
    .contact .form {
	width: 45%;
  	  margin: 0;
    }
  
	.contact div {
		display: flex;
		flex-flow: row wrap;
	}
    .contact .contact-items{
		display: flex;
		flex-flow: column wrap;
  	  width: 45%;
	  margin: 0;
	 
    }

  
  .contact   .contact-text,
  .form-title {
  	   font-size: 1.3em;
    }
	
	.contact img {
		width: 10%;
	}

   
  
   input[type=submit] {
  	  width: 50%;
    }

	#main {
		margin: 0 20%;
	}
	
    .work figure {
  	 width: 45%;
	 
    }
	
    .work-text {
  	  width: 45%;
  	  padding:0 15px;
    }
  
    .about div {
  	  display: flex;
  	  flex-flow: row wrap;
    }
 
  .about-content {
	  width: 40%;
	  display: flex;
	   flex-flow: row wrap;
  }
  
  
  .about h2 {
	  width: 100%;
  }
  
  
  .about figure {
	  width: 50%;
	  display: flex;
	  flex-flow: row wrap;
  }
 
 
  
  .about p {
	  width: 70%;
	  padding: 0 10px;
	  font-size: 1.3em;
  }
  
  
  .footer-content {
	  width: 30%;
	  align-content: center;
	  margin: 0 35%;
  }
  
  
  /*---- resume and reel page ----*/
.reel h3,
.resume h3 {
	font-size: 2em;
}

.resume h3 {
	padding-bottom: 30%;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
}
.resume-reel-content {
	width: 45%;
}
.resume-reel-content a {
	font-size: 1.6em;
	
}

.resume-reel-content a:hover {
	font-size: 1.8em;
	
}

.resume-reel-content .resume-icon-page {
	width: 10%;
	padding-bottom: 5%;

}


  
  /*---- Project page ----*/
  
  .projects h3 {
	  font-size: 1.5em;
  }
  
  .projects {
	  width: 100%;
  }
  
  /*--- gallery page ---*/
  
  .columns {
     -webkit-column-count: 2;
     -moz-column-count: 2;
     column-count: 2;
     -webkit-column-width: 50%;
     -moz-column-width: 50%;
     column-width: 50%;
   }

  
  /*---------- DESKTOP ----------*/



  @media (min-width: 1200px) {
  	
	  
      header nav {
          width: 100%;
      }

      header nav ul {
          display: flex;
		 
		  padding-bottom: 4%;
      }
	  
	  header nav ul li {
		  padding: 0 22px;
		  font-size: 1em;
	  }
	  
	  nav ul li img {
		  width: 10%;
	  }
	  
	  header h1 {
		  font-size: 4.4em;
	  }
	  
	  .footer-content {
		  width: 20%;
	  }
	  
	  .contact div {
		  margin: 0 10%;
		  
	  }
	  
	  .contact .form-title {
		  font-size: 2em;
		  margin-bottom: .5em;
	  }
	  
	  .contact .container {
		  background-image: url('../img/contact.jpg');
		  background-size: cover;
		  background-repeat: no-repeat;
		  
	  }
	  
	  .contact .form {
		  padding-bottom: 5%;
	  }
  
	.contact   .contact-text {
		   font-size: 1.1em;

	  }
	  
	  .wrapper {
		  margin: 0 10%;
	  }
  
	  #main {
		  margin: 0 28%;
	  }
  
	  .footer-content {
		  width: 20%;
		  margin: 0 40%;
	  }

	 input[type=submit] {
		  width: 40%;
	  }
	  
	

	  .work-text {
		  width: 30%;
		  font-size: 1.2em;
		  padding: 0 3%;
	  }
	  
	  
	  .work figure {
		  width: 60%;
	  }
	
  
	  .about-content p {
		  width: 100%;
		  font-size: 1.4em;
	  }
	  
	  .projects {
		  width: 70%;
		  margin: 0 15%;
	  }
	  
	  
	  .columns {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    -webkit-column-gap: 20px;
	    -moz-column-gap: 20px;
	    column-gap: 20px;
	    -webkit-column-width: 33%;
	    -moz-column-width: 33%;
	    column-width: 33%;
	  }
	
	
  }

	
	
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

	
	
	




