/************desktop***************************/


/***** BASE STYLES *****/

html {
	font-size: 16px;
}

body {
	font-family: 'Playfair Display', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container {
	max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1 {
	font-family: 'Abril Fatface', cursive;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	color: #08A6A6;
}


p {
	font-size: 1.25em;
	font-family: 'Oswald', sans-serif;
}
	


/******GRID******/



.half-width,
.third-width {
    width: 100%;
   
}


/****** HEADER ******/


header {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	width: 100%;
	
	
}



.main h2 {
	
	color: #F272A1;
	font-size: 3.5em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -5px;
	border: 2.5px dotted #F21DB9;
	padding: 10px;
	width: 100%;
	text-align: center;
}


.main-image img {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	border: 1px solid white;
	
}

nav {
	width: 100%;
	padding: 20px 0;
  
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	font-family: 'Abril Fatface', cursive;
	border: none;
	padding: 15px 0;
	list-style: none;
	text-transform: lowercase;
	font-size: 1.5em;
	margin:0;
	text-align: center;
}

nav ul li:hover {
	background: #F21DB9;
	font-size: 2em;
	font-family: 'Oswald';
}

nav ul li img {
	padding-right: 6px;
	opacity: .4;
}

nav ul li a {
	
	text-decoration: none;
	
	color: #F272A1;
	
}


header h1 {
	width: 100%;
	font-size: 5em;
	border-bottom: 2px solid #F21DB9;

}

header h1 span,
.main span {
	color:#08A6A6;
}



/******WORK******/

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	
   
}

.work img {
	width: 100%;
}


.work h3 {
	font-family: 'Oswald', sans-serif;
	text-align:center;

}

.work p {
	font-size: 1.6em;
	text-align:center;
	padding: 20px;
}




/*******ABOUT******/
	
.about {
	background-color:#08A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	padding: 25px;
}


.title {
	width: 100%;
	background-color:#08A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	border-bottom: 1px solid #08A6A6;
	color: white;

}

.title h2 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5em;
	text-align: center;
	
}

.about p {
	font-size: 1.5em;
	padding: 20px;
 

}

.about p span {
	color: white;
}

.about img {
	width: 100%;
	border: 1.5px solid white;
}

/******CONTACT******/

.contact {
	background-color: #F21DB9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	width:100%;
}



.contact-title {
	color: #08A6A6;
	font-family: 'Abril Fatface', cursive;
	font-size: 1.25em;
	background-color: #F21DB9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	width: 100%;
	
}

.contact h3 {
	text-align: center;
}


.contact p {
	font-size: 1.25em;
	text-align: center;

}

.contact ul {
	list-style-type: none;
	margin: 0;
	padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.contact ul li {
	display: inline;
	
}

.contact ul li a img{
	padding: 20px 40px 0px 10px;
	
	
}

footer {
	font-size: 1em;
	color: #F272A1;
	background-color: #F21DB9;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	text-align:center;
	padding: 10px;
}

/******REEL******/

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	width:100%;
}

.reel iframe {
	width: 100%;
}




/******TRAINING******/

.training {
	padding: 20px 20px 20px 30px;
	border: 10px #F21DB9 solid;
	margin: 40px 18px 0px 18px;
}

.training h3 { 
	font-size: 1.88em;
}

.training ul {
	margin: none;
	padding: none;
}

.training ul li {
	font-family: 'Oswald';
	font-size: 1.3em;
}

/******SKILLS******/

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	width: 100%;
	margin-top: 20px;
}

.icons img {
	padding: 50px;
}

.hov-ctn {
  position: relative;
  width: 80%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F21DB9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
}

.hov-ctn:hover .overlay {
  width: 100%;
}

.icons-hov {
	display: block;
	width: auto;
	height: auto;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/******RESUME******/

#resume {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
	width:100%;
}


.resume-title {
	width: 100%;
}


#resume ul {
	list-style-type: none;
}

#resume ul li {
	font-family: 'Oswald';
	font-size: 1.36em;
}


#resume h3 {
	font-size: 1.87em;
}

#resume h4 {
	color: #F21DB9;

}

.resume-two {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
	width:100%;
	padding: 20px;
	
	
}

.resume-two ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.resume-two ul li {
	font-family: 'Oswald';
	font-size: 1.36em;
	margin: 0;
	padding: 0;
}


.resume-two h3 {
	font-size: 1.87em;
}

.resume-two h4 {
	color: #F21DB9;
}

.resume-two img {
	padding: 0;
}

.resume-two img:hover {
	opacity: .3;
}

/*****RESUME&REEL FOOTER******/

#footer {
	width: 100%;
	font-size: 1em;
	color: #F272A1;
	text-align: center;
}




/*---------- MOBILE----------*/

#content-desktop-tablet {
  display: none;
}
/*---------- TABLET ----------*/


@media (min-width: 768px) {
  
  .half-width {
	  flex-basis: 50%;

  }
  

  .third-width {
	  flex-basis: 30%;
	  
  }
  
  #content-desktop-tablet {
	  display: block;
  }
}

  /*---------- DESKTOP ----------*/



  @media (min-width: 1200px) {
  	
      header {
          justify-content: space-between;
      }
	  
      header nav {
          width: 40%;
      }

      header nav ul {
          display: flex;
          justify-content: space-between;
      }
	  
	  #content-desktop-tablet {
		  display: block;
	  }
	
	
  }

	
	
  
	
	
	




